<nav class="navbar-expand-lg navbar-light bg-light">
  <header id="header">
    <%= image_tag('Banner.png', class: "img-fluid", id: "banner") %>
    <%= image_tag('titulo.png', class: "img-fluid", id: "titleManuelTeHabla")  %>
  </header>
  <button class="navbar-toggler bg-primary col-md-12" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <%= button_to categories_path, class:'nav-item nav-link active btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('', 'Bienvenido a Manuel te habla')", method: :get do %>
        <%= image_tag 'logo.png',  style: "width: 100%; height: 100%"  %>
      <% end %>
      <%= button_to categories_path, class:'nav-item nav-link btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('Esta es la sección de ', 'Categorías')", method: :get do %>
        <%= image_tag 'BOTONCATEGORIA.png',  style: "width: 100%; height: 100%" %>
      <% end %>
      <%= button_to videos_path, class:'nav-item nav-link btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('Esta es la sección de ', 'Videos')", method: :get do %>
        <%= image_tag 'BOTONVIDEOS.png',  style: "width: 100%; height: 100%" %>
      <% end %>
      <%= button_to questionnaires_path, class:'nav-item nav-link btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('Esta es la sección de ', 'Cuestionarios')", method: :get do %>
        <%= image_tag 'BOTONCUESTIONARIO.png',  style: "width: 100%; height: 100%" %>
      <% end %>
      <%= button_to games_path, class:'nav-item nav-link btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('Esta es la sección de ', 'Juegos')", method: :get do %>
        <%= image_tag 'BOTONJUEGOS.png',  style: "width: 100%; height: 100%" %>
      <% end %>
      <%= button_to say_ideas_path, class:'nav-item nav-link btn btn-transparent', id: "transparent_button",
      onclick: "myFunction('Esta es la sección de ', 'Expresa tus ideas')", method: :get do %>
        <%= image_tag 'BOTONIDEAS.png', style: "width: 100%; height: 100%" %>
      <% end %>

      <div class="text-center">
        <div class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= button_to say_ideas_path, class:'btn btn-transparent', id: "transparent_button" do %>
            <%= show_image_profile(Person.find_by(email: current_user.email).avatar) %>
          <% end %>
          <span style="background-color: orange;"><b class="titulos"><%= current_user.name %></b></span>
        </div>

        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <%= link_to user_path(current_user), class:"dropdown-item" do %>
          <i class="fa fa-user text-gray-400" aria-hidden="true"></i>
            Perfil
          <% end %>

          <div class="dropdown-divider"></div>
          <% if user_signed_in? %>
            <%= link_to(destroy_user_session_path, {:class => "dropdown-item", :method => :delete}) do  %>
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              <span class="sidebar-normal"> Cerrar sesión </span>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</nav>
