<div class="card border-info">
  <div class="card-header text-center">
    <h1><b>Registro de calificación del cuestionario: <br> <%= @cuestionario.name %></b></h1>
    <div class="text-right">
      <%= link_to "Regresar", goals_charts_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
<div class="card-body">
   <div class="col-md-12">
     <form>
       <input type="hidden" name="filter" id="filter" value="<%= params[:filter] %>">
       <div class="col-md-12 row">
         <div class="col-md-12 row">
           <label class="col-md-2 text-right">Nombre: </label>
           <% if current_user.user_roles == "SuperAdmin" %>
             <%= collection_select(:get, :person_id, Person.where(roles: 2), :id, :name, {selected: @users}, class:'select2 col-md-10' , multiple: true, data: { placeholder: "Seleccione el nombre del niño a consultar"})%>
           <% elsif current_user.user_roles == "Adulto Responsable" %>
             <%= collection_select(:get, :person_id, Person.where(user_id: current_user.id), :id, :name, { selected: @users}, class:'select2 col-md-10' , multiple: true, data: { placeholder: "Seleccione el nombre del niño a consultar"})%>
           <% end %>
         </div>
         <br><br>
         <div class="col-md-12 row">
           <label class="col-md-2 text-right">Preguntas: </label>
           <%= collection_select(:get, :question_id, Question.find(@cuestionario.questions.ids), :id, :name, { selected: @question}, class:'select2 col-md-10' , multiple: true, data: { placeholder: "Seleccione la pregunta a consultar" })%>
         </div>
         <br><br>
         <div class="text-right col-md-12">
           <button type="submit" name="sub" class="col-md-2 btn btn-success"><b>Buscar</b></button>
         </div>
       </div>
     </form>
   </div>
   <br>

   <% @data.each do | da | %>
     <div class="card border-info">
       <div class="card-header text-center">
         <h4><b class='titulos_admin'>GRÁFICAS DE <%= da[:name].upcase %></b></h4>
       </div>
       <div class="card-body">
         <%= area_chart da[:results], multiple: true, title: "Puntos obtenidos por pregunta", download: true %>
       </div>
     </div>
     <br><br>
   <% end %>
 </div>




 <script>
   $(".select2").select2({
     search: true,
     multiple: true
   });
 </script>
