<%= form_with(model: check_list, local: true) do |form| %>
  <% if check_list.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(check_list.errors.count, "error") %> prohibited this check_list from being saved:</h4>

      <ul>
        <% check_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="field">
    <%= form.label :goal_id %>
    <%= form.text_field :goal_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
