<nav class="navbar-expand-lg navbar-light bg-light">
  <header id="header">
    <%= image_tag('Banner.png', class: "img-fluid", id: "banner") %>
    <%= image_tag('titulo.png', class: "img-fluid", id: "titleManuelTeHabla")  %>
  </header>
  <button class="navbar-toggler bg-primary col-md-12" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag('logo.png', class: "img-fluid", id: "logo")  %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col-md-12 row">
      <div class="col-md-2 col-md-2 text-center">

      </div>
      <div class="col-md-10 row">
        <div class="text-center">
          <%= button_to categories_path, class:'btn btn-transparent', id: "transparent_button",
          onclick: "myFunction('Esta es la sección de ', 'Categorías')", method: :get do %>
            <%= image_tag('BOTONCATEGORIA.png') %>
-          <% end %>
        </div>

        <div class="text-center">
          <%= button_to videos_path, class:'btn btn-transparent', id: "transparent_button",
          onclick: "myFunction('Esta es la sección de ', 'Videos')", method: :get do %>
            <%= image_tag('BOTONVIDEOS.png') %>
          <% end %>
        </div>

        <div class="text-center">
          <%= button_to questionnaires_path, class:'btn btn-transparent', id: "transparent_button",
          onclick: "myFunction('Esta es la sección de ', 'Cuestionarios')", method: :get do %>
          <%= image_tag('BOTONCUESTIONARIO.png') %>

          <% end %>
        </div>

        <div class="text-center">
          <%= button_to games_path, class:'btn btn-transparent', id: "transparent_button",
          onclick: "myFunction('Esta es la sección de ', 'Juegos')", method: :get do %>
            <%= image_tag('BOTONJUEGOS.png') %>
          <% end %>
        </div>

        <div class="text-center">
          <%= button_to say_ideas_path, class:'btn btn-transparent', id: "transparent_button",
          onclick: "myFunction('Esta es la sección de ', 'Expresa tus ideas')", method: :get do %>
            <%= image_tag('BOTONIDEAS.png') %>
          <% end %>
        </div>
        <div class="text-center">
          <%= button_to new_user_session_path, class:'btn btn-transparent', id: "transparent_button" do %>
            <%= image_tag 'usuarios.png',  style: "width: 120px; height: 120px"  %>
            <br>
            <span style="background-color: white;"><b class="titulos">INICIAR SESIÓN</b></span>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</nav>
