<%= form_with(model: say_idea, local: true) do |form| %>
  <% if say_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(say_idea.errors.count, "error") %> prohibited this say_idea from being saved:</h2>
      <ul>
        <% say_idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <%= form.label "Titulo de la idea:", class: 'col-md-2 text-right' %>
      <%= form.text_field :title, class: 'form-control col-md-9' %>
      <br><br>
      <%= form.label "Se conjuga con", class: 'col-md-2 text-right'%>
      <% group_options = [['Sujetos', SayIdea.where(say_idea_type: [1]).pluck(:title, :id)], ['Verbos', SayIdea.where(say_idea_type: [2]).pluck(:title, :id)]]%>
      <%= form.select :say_ideas_id, grouped_options_for_select(group_options), {selected: say_idea.say_ideas_id,, include_blank: true }, {class: "form-control select2 col-md-9"}  %>
      <br><br>
      <%= form.label "Tipo de idea:", class: 'col-md-2 text-right' %>
      <%= form.select :say_idea_type, options_for_select(
      SayIdea.types.map {
        |key, value| [key.titleize,
        value]
      }), { selected: say_idea.say_idea_type, include_blank: true }, {class: "form-control select2 col-md-9"} %>
      <br><br>
      <%= form.label "Publica:", class: 'col-md-2 text-right' %>
      <%= form.check_box :public, class: 'form-control col-md-9', value: say_idea.public %>
      <br><br>
      <%= form.label "Articulo:", class: 'col-md-2 text-right' %>
      <%= form.collection_select :article_id, Article.all, :id, :name, {selected: say_idea.article_id, include_blank: true}, {class: "form-control select2 col-md-9"} %>
      <br><br>
      <%= form.label "Subir imagen", class: 'col-md-2 text-right' %>
      <%= form.file_field :say_idea_image, class: 'col-md-9' %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <a href="<%= say_idea.say_idea_image %>" target="_blank" onclick="return <%= say_idea.say_idea_image.present? ? true : false %>"><%= show_image(say_idea.say_idea_image) %></a>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-success float-right"%>
    </div>
  </div>
<% end %>

<script>
  $('#upload_files').on('click', function() {
    $('#card_upload_files').attr('hidden', true)
  })

</script>
