<%= form_with(model: say_idea, local: true) do |form| %>
  <% if say_idea.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(say_idea.errors.count, "error") %> prohibited this say_idea from being saved:</h4>
      <ul>
        <% say_idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <%= form.label "Titulo de la idea:", class: 'col-md-2 text-right' %>
      <%= form.text_field :title, class: 'form-control col-md-9' %>
      <br><br>
      <%= form.label "Se conjuga con", class: 'col-md-2 text-right'%>
      <% group_options = [['Sujetos', SayIdea.where(say_idea_type: [1]).pluck(:title, :id)], ['Verbos', SayIdea.where(say_idea_type: [2]).pluck(:title, :id)]]%>
      <%= form.select :say_ideas_id, grouped_options_for_select(group_options, say_idea.say_ideas_id), {include_blank: true }, {class: "form-control form-select col-md-9"}  %>
      <br><br>
      <%= form.label "Tipo de idea:", class: 'col-md-2 text-right' %>
      <%= form.select :say_idea_type, options_for_select(
      SayIdea.types.map {
        |key, value| [key.titleize,
        value]
      }, say_idea.say_idea_type ), {include_blank: "Seleccione", }, {class: "form-control form-select col-md-9"} %>
      <br><br>
      <div class="col-md-12 row">
        <%= form.label "Niños que pueden ver esta categoria" , class: "col-md-3 form-label text-right"%>
        <%= form.collection_select :users, User.find(@users), :id, :name, { include_blank: false, selected: @ids}, placeholder: "seleccione", class: 'select2 form-control col-md-7', multiple: true, required: true %>
        <br><br>
        <%= form.label "Seleccionar todos los niños:" , class: "col-md-3 form-label text-right"%>
        <input class="form-control col-md-1" type="checkbox" id="checkbox" >
        <br><br>
      </div>
      <%= form.label "Articulo:", class: 'col-md-2 text-right' %>
      <%= form.collection_select :article_id, Article.all, :id, :name, {selected: say_idea.article_id, include_blank: true}, {class: "form-control form-select col-md-9"} %>
      <br><br>
      <%= form.label "Subir imagen", class: 'col-md-2 text-right' %>
      <%= form.file_field :say_idea_image, class: 'col-md-9' %>
      <div class="col-md-12 text-center">
        <%= show_image(say_idea.say_idea_image) %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-success float-right"%>
    </div>
  </div>
<% end %>

<script>
  $('#upload_files').on('click', function() {
    $('#card_upload_files').attr('hidden', true)
  })

  $("#checkbox").click(function(){
    if($("#checkbox").is(':checked') ){
      $(".select2  > option").prop("selected", true);
    }else{
      $(".select2  > option").prop("selected", false);
    }
    $(".select2").trigger("change");// Trigger change to select 2
  });

  $('.select2').select2({
    language: "es",
    multiple: true,
    placeholder: "Seleccione",
    formatNoMatches: function() {
      return '';
    },
  });
</script>
