<div class="card border-primary">
  <div class="card-header" id="card-header">
    <div class="row">
      <%= render "structure/index_head" %>
      <hr id="hr">
      <hr id="hr">
    </div>
  </div>
  <div class="row col-md-12">
    <div class="card-body">
      <div class="text-right">
        <% if !current_user.nil? %>
          <% if current_user.user_roles != "Niño" %>
            <%= link_to 'Añadir nueva Categoria', new_category_path, class: "btn btn-primary float-center text-white" %>
          <% end %>
          <br><br>
        <% end %>
      </div>
      
      <% if !current_user.nil? %>
        <% if current_user.user_roles != "Niño" %>
          <%= render 'index_categories_admin' %>
        <% else %>
          <h4>Seleccione una de las siguientes categorías:</h4><br>
          <%= render "index_categories" %>
        <% end %>
      <% else %>
        <h4>Seleccione una de las siguientes categorías:</h4><br>

        <%= render "index_categories" %>
      <% end %>

    </div>
  </div>
</div>
